.Title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.Description {
    text-align: center;
    margin-bottom: 1.25rem;
    color: $text-secondary;
}

.Input {
    margin-bottom: 2rem;
}

.Button {
    width: 100%;
}

.Turnstile {
    margin: 0 auto;
    margin-bottom: 2rem;
}
