:root {
    --toastify-color-dark: #1a1a1a;
    --toastify-color-info: #2196f3;
    --toastify-color-success: #4caf50;
    --toastify-color-warning: #ff9800;
    --toastify-color-error: #ff4f4f;
    --toastify-text-color-dark: #b0b0b0;
    --toastify-spinner-color-empty-area: #e0e0e0;
    --toastify-spinner-color: #00ff9d;
    --toastify-color-progress-dark: #00ff9d;
    --toastify-toast-bd-radius: 5px;
}
